/* applied to reset the CSS file */
* {
    margin: 0; 
    padding: 0;
  }

body {
    padding-left: 5% ;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
    background-color: rgb(66, 61, 61);
    min-height: 100vh ;
}

nav {
    display: flex;
}

/* 50% width for half of the box. The other 50% for the navbar. */
/* simple design applications. No variables applied. Pendng further design strategy (not required for assignment)*/
.header-title {
    width: 50%;  
    height: 75px;
    margin:auto;
    display: flex;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* navbar set to row reverse but at mobile device direction will switch to column*/
/* padding top. Living in commented pending further design strategy (not required for assignment) */
.navbar {
    width: 50%;
    display: flex;
    flex-direction: row-reverse;
    /* padding-top: 10% ; */
}
/* line height set to the height of "header-title" (above) */
.navbar ul {
    list-style: none;
    line-height: 75px;
    display: flex;
}

/* to space the listed items to the headertitle a padding left is applie */
/* Design strategy remove text decoration */
.navbar ul li {
    padding-left: 35px;
    text-decoration: none;
}

/* As per wireframe strategy I wanted to add a buffer from the top  of the browser to the header.container  */
.header-buffer {
    height: 25px;
}

/* simple design applications. No variables applied. Pendng further design strategy (not required for assignment)*/
.header-container {
    /* position: fixed; */
    display: flex;
    flex-direction: row;
    border: 2px dashed rgb(99, 94, 94);
    border-top-left-radius: 25px;
    background: linear-gradient(45deg, #fc575e, #90d5ec);
}
/* flex direction set to row until mobile device */
.image01 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
}
/* simple design applications. No variables applied. Pendng further design strategy (not required for assignment)*/
/* letter spacing applied for visual aid */
h2 {
    font-size: 25pt;
    color: #065772;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-left: 10%;
    letter-spacing: 5pt;
}
/* animated tranistion applied set so hover can be applied below */
nav ul li a {
    text-decoration: none;
    text-align: center;
    margin-right: 10px;
    /* padding: 10px; */
    color: #fc575e;
    transition: 0.4s ease-in-out;

}
/* hover function applie. Simple design. Pending further design strategy (not required for assignment) */
a:hover {
    color: rebeccapurple;
}


.intro-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 90px 0px;

}

.header-image{
    border-radius: 315px;
    /* margin: 0 auto; */
    max-width: 35%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    align-content: center;
    justify-content: center;

}
/* 1 image to be larger than the others therefore it's set to a higher width */
/* opacity set to low and size set low for hover function below */
.after-2020 {
    margin: 0 auto;
    max-width: 70%;
    opacity: 85%;
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: center;
}

.after-2020:hover{
    max-width: 75%;
    opacity: 100%;
}

/* padding left/right applie for extra spacing. aligned according to when the top image (image01 .after-2020) is at full width */
.pre-2020 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around; 
    align-items: center;
    align-content: flex-end;
    margin: auto;
    padding-left: 124px;
    padding-right: 124px;
}


.row2 {
    max-width: 20%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: flex-end;
    margin: 4px auto;
}


img{
    /* border: 10px dashed #065772 ; */
    fill-opacity: 50%;
}

.side-right-aboutme p {
    font-size: 15px;
    line-height: 25pt;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

@media screen and (max-width: 768px) {
    /* Use flex-direction to stack the navbar, sidebar, and body */
    .header-container,
    nav {
      flex-direction: column;
      display: flex;
    }
    nav ul li a {
        color: white;
    }
    /* Make the image01 stack above the bio section and ordering the headerimage to sit on top */
    .image01 {
      order: 1;
      display: flex;
      flex-direction: column;
      text-align: justify;

    }
    /* using margin right to push the image into the centre */
    .header-image{
        justify-content: center;
        text-align: center;
        margin-right: 32%;

    }
    /* using margin right to push the image into the centre */
    .navbar {
       display: flex;
       flex-direction: row;
    }
    .side-left {
        margin-right: 190px;
    }

}
.side-section{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;    
    padding: 25px 0px;
}

h3 {
    margin-right: 100px;
    padding-bottom: 150px;
    padding-left: 20px;
}

@media screen and (max-width: 768px){
    .side-section{
        display: flex;
        flex-direction: column;
    }
    /* using flex direction column to stackimages */
h3{
    order: 1;
    padding-bottom: 10%;
}
    /* applying max width. Hover function won't set on mobile device */
.after-2020{
    max-width: 100%;
}

.pre-2020, 
.row2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 70%;
}
}

.contact-details{
    display: flex;
    width: 400px;
    height: 140px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    margin: 4px auto;
    padding-right: 15px;
}

/* need to set original color for the hover function to work below */
.social-icon{
    color: rgb(0, 0, 0);
    transition: color 0.2s;
    width: 50px;
    height: 50px;
}


.social-icon:hover {
    color: rebeccapurple;
}

/* //apply resume style to line up with icons in the same container */
.resume {

}