* {
    margin: 0;
    padding: 0;
  }

body {
    background: linear-gradient(45deg, #fc575e, #90d5ec);
    padding-left: 5% ;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
    background-color: #D2D2CF;
    min-height: 100vh ;
}

nav {
    display: flex;
}


.header-title {
    width: 50%;
    height: 75px;
    margin:auto;
    display: flex;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navbar {
    width: 50%;
    display: flex;
    flex-direction: row-reverse;
    /* padding-top: 10% ; */
}

.navbar ul {
    list-style: none;
    line-height: 75px;
    display: flex;
}

.navbar ul li {
    padding-left: 35px;
    text-decoration: none;
}

.header-buffer {
    height: 25px;
}

.header-container {
    /* position: fixed; */
    display: flex;
    flex-direction: row;
    border: 2px dashed red;
    border-top-left-radius: 25px;
    background-color: #ef666e26;
}

h2 {
    font-size: 25pt;
    color: #065772;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-left: 10%;
    letter-spacing: 5pt;
}

nav ul li a {
    text-decoration: none;
    text-align: center;
    margin-right: 10px;
    /* padding: 10px; */
    color: #fc575e;
    transition: 0.4s ease-in-out;

}
a:hover {
    color: rebeccapurple;
}

.image01 {
    width: 100%;
    height: 50%;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}

.header-image{
    margin: 0 auto;
    max-width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
    align-content: center;
    clip: rect(110px, 160px, 170px, 60px);

}

.after-2020 {
    margin: 0 auto;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: center;
}

.pre-2020 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around; 
    align-items: center;
    align-content: flex-end;
    margin: auto;
}

.row2 {
    max-width: 20%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: flex-end;
    margin: 4px auto;
}

.sub-text {
    text-align: center;
}

img{
    /* border: 10px dashed #065772 ; */
    fill-opacity: 50%;
}

@media screen and (max-width: 768px) {
    /* Use flex-direction to stack the navbar, sidebar, and body */
    .header-container,
    nav {
      flex-direction: column;
      display: flex;
      
    }
    /* Make the sidebar stack below the body */
    .image01 {
      order: 2;
    }
    .navbar {
       display: flex;
       flex-direction: row;
    }

}
.side-section{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;    
    padding: 25px 0px;
}
.side-left{
    border-right: solid 3px red;
    margin-right: 14px;
}

.side-right-aboutme p {
    font-size: 15px;
    line-height: 15pt;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif 
}

h3 {
    margin-right: 100px;
}