* {
    margin: 0;
    padding: 0;
  }

body {
    padding-left: 5% ;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
    background-color: #fff;
    min-height: 100vh ;
}

nav {
    display: flex;
}


.header-title {
    width: 50%;
    height: 75px;
    margin:auto;
    display: flex;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navbar {
    width: 50%;
    display: flex;
    flex-direction: row-reverse;
    /* padding-top: 10% ; */
}

.navbar ul {
    list-style: none;
    line-height: 75px;
    display: flex;
}

.navbar ul li {
    padding-left: 35px;
    text-decoration: none;
}

.header-buffer {
    height: 25px;
}

.header-container {
    /* position: fixed; */
    display: flex;
    flex-direction: row;
    border: 2px dashed rgb(99, 94, 94);
    border-top-left-radius: 25px;
    background: linear-gradient(45deg, #fc575e, #90d5ec);
}

.image01 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
}

h2 {
    font-size: 25pt;
    color: #065772;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-left: 10%;
    letter-spacing: 5pt;
}

nav ul li a {
    text-decoration: none;
    text-align: center;
    margin-right: 10px;
    /* padding: 10px; */
    color: #fc575e;
    transition: 0.4s ease-in-out;

}
a:hover {
    color: rebeccapurple;
}


.intro-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 90px 0px;

}

.header-image{
    border-radius: 315px;
    /* margin: 0 auto; */
    max-width: 35%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    align-content: center;
    justify-content: center;

}

.after-2020 {
    margin: 0 auto;
    max-width: 70%;
    opacity: 85%;
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: center;
}
.after-2020:hover{
    max-width: 75%;
    opacity: 100%;
}

.pre-2020 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around; 
    align-items: center;
    align-content: flex-end;
    margin: auto;
    padding-left: 124px;
    padding-right: 124px;
}


.row2 {
    max-width: 20%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: flex-end;
    margin: 4px auto;
}


img{
    /* border: 10px dashed #065772 ; */
    fill-opacity: 50%;
}

@media screen and (max-width: 768px) {
    /* Use flex-direction to stack the navbar, sidebar, and body */
    .header-container,
    nav {
      flex-direction: column;
      display: flex;
      
    }
    /* Make the sidebar stack below the body */
    .image01 {
      order: 2;
    }
    .navbar {
       display: flex;
       flex-direction: row;
    }

}
.side-section{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;    
    padding: 25px 0px;
}

.side-right-aboutme p {
    font-size: 15px;
    line-height: 25pt;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

h3 {
    margin-right: 100px;
    padding-bottom: 150px;
}

.contact-details{
    display: flex;
    width: 400px;
    height: 140px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    margin: 4px auto;
    padding-right: 15px;
}

.social-icon{
    color: rgb(0, 0, 0);
    transition: color 0.2s;
    width: 50px;
    height: 50px;
}


.social-icon:hover {
    color: rebeccapurple;
}